/* Ocultar todo por defecto */
#bienvenida,
#tabla,
#turno,
#ganador,
#empate,
#volverJuego {
  display: none;
}

/* Mostrar según estado */
[data-tag="inicio"] #bienvenida {
  display: block;
}

[data-tag="jugar"] #tabla,
[data-tag="jugar"] #turno {
  display: block;
}

[data-tag="ganador"] #tabla,
[data-tag="ganador"] #ganador,
[data-tag="ganador"] #volverJuego {
  display: block;
}

[data-tag="empate"] #tabla,
[data-tag="empate"] #empate,
[data-tag="empate"] #volverJuego {
  display: block;
}

body {
  background: linear-gradient(to bottom, #66d1ff, #66ffcc, #66ff96);
  font-family: "Cascadia Code", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
}

#titulo {
  font-size: 5vh;
  text-align: center;
  position: absolute;
  top: 25px;
}

#mensaje {
  background-color: #0ebd83;
  font-size: 3vh;
  max-width: 800px;
  height: auto;
  padding: 20px;
  text-align: center;
  border-radius: 15px;
}

#botonOpcion {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.reinicio {
  font-family: "Cascadia Code", sans-serif;
  font-size: 3vh;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}

#contraPersona {
  width: 60vh;
  height: 50px;
  margin-top: 5vh;
  background-color: rgb(31, 50, 3);
  color: greenyellow;
  transition: background-color 0.3s ease;
}

#contraCompuint {
  width: 60vh;
  height: 50px;
  margin-top: 5vh;
  background-color: rgb(73, 121, 1);
  color: rgb(187, 230, 124);
  transition: background-color 0.3s ease;
}

#contraPersona:hover,
#contraCompuint:hover {
  background-color: #319171;
  color: white;
}

table {
  border-collapse: collapse;
  border-style: hidden;
  margin-top: 25vh;
}

td {
  border: 6px solid rgba(62, 62, 62, 0.532);
}

.boton-invisible {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10vh;
  width: 70px;
  height: 70px;
  color: rgb(150, 37, 37);
  font-size: 70px;
  text-align: center;
  background-color: rgba(55, 157, 132, 0.26);
  border: none;
  cursor: pointer;
}

.mensaje2 {
  text-align: center;
  position: absolute;
  margin-top: 10vh;
  margin-left: 8vh;
  font-size: 2vh;
  background-color: #0ebd83;
  width: 400px;
  height: 50px;
  padding: 3px;
  border-radius: 15px;
}

#volverJuego {
  display: none;
  text-align: center;
  margin-top: 20px;
  border: none;
  outline: none;
  margin-top: 4.5vh;
}

#volverJuego button.reinicio {
  border: none;
  outline: none;
  background-color: rgb(5, 82, 95);
  color: greenyellow;
  font-size: 3vh;
  width: auto;
  padding: 10px 20px;
  border-radius: 15px;
  transition: background-color 0.3s ease;
}

#volverJuego button.reinicio:hover {
  background-color:  rgb(44, 147, 165);
  color: white;
}

#error-mensaje {
  color: red;
  margin-top: 35px;
}

.ganador {
  background-color: #74cf74 !important;
}

.pensando {
  display: none;
  font-size: 2vh;
  color: #007700;
  background-color: #dfffdf;
  padding: 5px 10px;
  border-radius: 10px;
  margin-top: 10px;
}